<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__list-item">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Login</h1>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="form-button" type="submit">Login</button>
        </form>
    </main>
</body>
</html>