<%- include('includes/head.ejs') %>
<body>
    <main>
        <form action="/" method="POST">
            <label for="username">User Name:</label>
            <input type="text" name="username" id="username">
            <button type="submit">Send</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>